.header{
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px ;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.gallery { 
    width: 100%;
}